<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script defer src="../index.js"></script>
    <title>Document</title>
</head>
<body>

<h1> Create or join room</h1>
<div id="room-container">

  <form id="room-form" action="/room" method="post">
    <input type="text" name="room" required>
    <button type="submit">New Room</button>
    <a id="disconnect" href="/disconnect">disconnect</a>
  </form>

  <h4>Room List</h4>
  <% Object.keys(rooms).forEach(room => { %>
    <div id="roomName"><%= room %>
      <a href='/<%=room%>'>Join</a></div>
  <% }) %>
</div>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>